doctype html
html
  head
    title Tic Tac Toe
    link(href='stylesheets/style.css', rel='stylesheet')

  h1 Tic Tac Toe

  .board
    input(type='button', class='tile', id='0', onClick="turn('0')", value='')
    input(type='button', class='tile', id='1', onClick="turn('1')")
    input(type='button', class='tile', id='2', onClick="turn('2')")
    input(type='button', class='tile', id='3', onClick="turn('3')")
    input(type='button', class='tile', id='4', onClick="turn('4')")
    input(type='button', class='tile', id='5', onClick="turn('5')")
    input(type='button', class='tile', id='6', onClick="turn('6')")
    input(type='button', class='tile', id='7', onClick="turn('7')")
    input(type='button', class='tile', id='8', onClick="turn('8')")

  script(src='vendor/jquery/dist/jquery.min.js')
  script(src='js/logic.js')